[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
user=sobeyhive
password=$0bEyHive&2o1Six
socket=/var/lib/mysql/mysql.sock

[mysqld]
port=3306
user=mysql
bind-address = 0.0.0.0
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
default_storage_engine = innodb
binlog_format = row
max_connections=1024
max_allowed_packet = 20M
group_concat_max_len = 102400
transaction-isolation=READ-COMMITTED

innodb_adaptive_hash_index=0
innodb_autoinc_lock_mode = 2
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 1024M
innodb_log_buffer_size=64M
#innodb_force_recovery=1
innodb_buffer_pool_size=4096M
innodb_buffer_pool_instances=16
innodb_buffer_pool_dump_at_shutdown=on
innodb_buffer_pool_load_at_startup=on

lower_case_table_names=1
explicit_defaults_for_timestamp = 1
skip-name-resolve
skip-host-cache
federated
symbolic-links=1
skip-external-locking

log_output=FILE 
general_log=0
general_log_file=/var/log/mysql/mysql-general.log
expire-logs-days=5
log-warnings=1 
log-error=/var/log/mysql/mysql.err  
slow_query_log=1 
long-query-time=5 
slow_query_log_file = /var/log/mysql/slow.log  
#log-queries-not-using-indexes  
#log-slow-slave-statements  

character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'
tmpdir=/var/log/mysql

!includedir /etc/mysql/conf.d
